extends ../layouts/admin

block content
  .container
    h1.mb-4 Edit Project
    form(method="POST", action=`/projects/${project._id}`)
      .mb-3
        label.form-label(for="title") Title
        input.form-control(type="text", name="title", value=project.title)
      .mb-3
        label.form-label(for="description") Description
        input.form-control(type="text", name="description", value=project.description)
      .mb-3
        label.form-label(for="role") Role
        input.form-control(type="text", name="role", value=project.role)
      .mb-3
        label.form-label(for="tags") Tags (comma separated)
        input.form-control(type="text", name="tags", value=project.tags.join(','))
      .mb-3
        label.form-label(for="techStack") Tech Stack (comma separated)
        input.form-control(
          type="text", 
          name="techStack", 
          value=project.techStack ? project.techStack.join(', ') : ''
        )
      .mb-3
        label.form-label(for="image") Image URL
        input.form-control(type="text", name="image", value=project.image)
      button.btn.btn-primary(type="submit") Update Project